@charset "utf-8";
/* CSS Document Bandeau Projet Terminés _ Lorea */
/*Bandeau gris en arriere plan + images caracteristiques generales*/
.bandeau_projetTermines{
background-color:#e6e6e6;
height:450px;
padding-top:4%;
padding-bottom:5%;
}
img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50%;
    width:150px;
height:150px;
}
.row {
    margin-bottom: 0px;
}
.row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #eee;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
/*image 1ere ligne*/
.img1{
position:absolute;
z-index:1;
}
/* Play sur l'image*/
.play{
z-index:2; /*permet de mettre l'image en position 2 cad devant la position 1 */
position:relative;
margin-top:45px;
margin-left:50px;
border-radius:0%;
width:50px;
height:60px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles pour cette Media Queries */
.col-md-3 col-xs-6{
padding-left:50px;
}
.row [class^="col-"]{
}
}